IS_ORBI=1
IS_DESKTOP=0
IS_MINI=1
IS_R9000=0
HAVE_TRIBAND=1
HAVE_WIRELESS_AC=1
MAX_LAN_PORT=1
HAVE_CIRCLE=1
HAVE_USB=0
HAVE_PARENTAL_CONTROL=1
MODE_1=\"54\"
MODE_2=\"192\"
MODE_3=\"400\"
AN_MODE_1=\"173\"
AN_MODE_2=\"400\"
AN_MODE_3=\"866\"
LBD_RSSISTEERINGPOINT_UG=\"22\"
WIRELESS5G=\"1\"
GUEST_OR_BYOD=\"guest\"
WIRELESS5G_2ND=\"2nd_\"
WIRELESSBK5G_2ND=\"\"
TRIBAND_INTERFACE=\"ath1\"

WAN_IFNAME=\"brwan\"
PPP_IFNAME=\"ppp0\"
LAN_IFNAME=\"br0\"
MAIN_2G=\"ath0\"
MAIN_5G=\"ath2\"
GUEST_2G=\"ath02\"
GUEST_5G=\"ath21\"
BACKHAUL_2G=\"ath01\"
BACKHAUL_5G=\"ath11\"
