<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
<!-- <meta http-equiv="refresh" content="30; url=BRS_01_checkNet_ping.html" /> -->
<% orbi_flow_head() %>
<% hijack_language() %>
</head>
<% func_header("_Wizard_setup", "BRS_03A_detcInetType.html", "wizard_detwan") %>

<div id="container">
	<div class="dialog-content">
		<!-- Searching for Internet -->
		<div id="card-searching-internet" class="install-card clearfix">
			<img class="netgear-logo" src="images/netgear.png">
			<img class="orbi-logo svg-transition" src="images/orbi.png">

			<div class="spinner"></div>
			<div class="desc-text"><script>document.write(bh_orbi_check_conn);</script></div>
		</div>
	</div>
</div>
</form>
<script>
    var cf = document.forms[0];
setTimeout("cf.submit();", 80000);
</script>
</body>

</html>
