# Included in bash shell

if [ -z $__DNI_G_FLASH__ ]; then
__DNI_G_FLASH__=1

FLASH_TYPE=NAND_FLASH

FLASH_CALDATA_NAME=ARTMTD
FLASH_CALDATA_DEV=/dev/mtd11
FLASH_LANGUAGE_NAME=language
FLASH_LANGUAGE_DEV=/dev/mtd25
FLASH_CONFIG_NAME=config
FLASH_CONFIG_DEV=/dev/mtd13
FLASH_POT_NAME=pot
FLASH_POT_DEV=/dev/mtd16
FLASH_TRAFFICMETER_NAME=traffic_meter
FLASH_TRAFFICMETER_DEV=/dev/mtd30
FLASH_FW_NAME=firmware
FLASH_FW_DEV=/dev/mtd18
FLASH_FW2_NAME=firmware-2
FLASH_FW2_DEV=/dev/mtd22
FLASH_OOPS_NAME=mtdoops
FLASH_OOPS_DEV=/dev/mtd33
FLASH_CERT_NAME=cert
FLASH_CERT_DEV=/dev/mtd26
FLASH_DEVTABLE_NAME=device_table
FLASH_DEVTABLE_DEV=/dev/mmcblk0p27

fi
